<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>DBLP Query Options</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    </head>

    <header class="topbar">
        <h1 class="focused" style="font-size: 37px;
                color: #57a957">
            <strong>DBLP Query Options</strong>
            <h4> Select a Query: </h4>
        </h1>
    </header>
    <body>
        <h6> <b>Query 1.1:</b>
            <br>Given a paper name (i.e., title), list its publication metadata.
        </h6>
            <form action="@routes.HomeController.query1()">
                <div class="row">
                    <button id="select-query-1" class="btn" type="select">Select</button>
                </div>
            </form>
            <h6><b>Query 1.2:</b>
            <br>Given a journal name and a year (volume) and an issue (number),
            <br>find out the metadata of all the papers published in the book
            <br>(means the volume+number of the journal).
            </h6>
            <form action="@routes.HomeController.query2()">
                <div class="row">
                    <button id="select-query-2" class="btn" type="select">Select</button>
                </div>
            </form>
        <h6> <b>Query 1.3</b>
            <br>Display the titles of the articles published by a researcher in a specific year.
        </h6>
            <form action="@routes.HomeController.query3()">
                <div class="row">
                    <button id="select-query-3" class="btn" type="select">Select</button>
                </div>
            </form>
        <h6> <b>Query 1.4:</b>
            <br>Display all the authors who have published more than 10 papers in the area of SOSE to date.
        </h6>
            <form action="@routes.HomeController.query4()">
                <div class="row">
                    <button id="select-query-4" class="btn" type="select">Select</button>
                </div>
            </form>
        <h6> <b>Query 1.5:</b>
            <br>Given a conference and a year, display the location where it was held.
        </h6>
        <form action="@routes.HomeController.query5()">
            <div class="row">
                <button id="select-query-4" class="btn" type="select">Select</button>
            </div>
        </form>
        <h6> <b>Query 2.1:</b>
            <br>Given a researcher's name and a year, list all published articles' metadata.
        </h6>
        <form action="@routes.HomeController.query21()">
            <div class="row">
                <button id="select-query-4" class="btn" type="select">Select</button>
            </div>
        </form>
        <h6> <b>Query 2.2:</b>
            <br>For the productive authors (e.g., published more than 10 papers) in the area of SOSE, list all of their co-authors.
        </h6>
        <form action="@routes.HomeController.query22()">
            <div class="row">
                <button id="select-query-4" class="btn" type="select">Select</button>
            </div>
        </form>
        <h6> <b>Query 2.3:</b>
            <br>Given a conference name, and a range of years (between 2003-2020), mark the locations of where the conference was held in a map.

        </h6>
        <form action="@routes.HomeController.query23()">
            <div class="row">
                <button id="select-query-4" class="btn" type="select">Select</button>
            </div>
        </form>
    </body>
</html>
