@(confereces:List[controllers.Conference])
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <style>
                #mapid {
                    height: 600px;
                }
        </style>
            <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">

        </script>

        <title>Query 2.3</title>

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>Query 3</title>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>

    </head>
    <body>
        <header class="topbar">
            <h1 class="focused" style="font-size: 37px;
                color: #57a957">
                <strong>Query 2.3</strong>
            </h1>
            <form action="@routes.HomeController.querySelectionHandler()" method="GET">
                <button id="api-search-button" class="btn col s4 offset-s4" type="submit">Return to Query Selection</button>
            </form>
        </header>




        <div id="mapid"></div>
        <script type="text/javascript">

                var mymap = L.map('mapid').setView([51.505, -0.09], 3);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYmVpY2hlbmgiLCJhIjoiY2tsdjl3dTY5MHE2bDMwczU3emY1OW5vMyJ9.VVfIHxS7zO04N1trHAnEmw', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 10,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'your.mapbox.access.token'
                }).addTo(mymap);

                @for(conferenceList <- confereces){

                L.marker([@conferenceList.getX(), @conferenceList.getY()]).addTo(mymap).bindPopup("<b>@conferenceList.getYear(), @conferenceList.getName(), @conferenceList.getLocation()</b>").openPopup();
                }

                <!--    var popup = L.popup()-->
                <!--    .setLatLng([51.7, -0.09])-->
                <!--    .setContent("I am a standalone popup.")-->
                <!--    .openOn(mymap);-->

                var popup = L.popup();

                function onMapClick(e) {
                    popup
                            .setLatLng(e.latlng)
                            .setContent("You clicked the map at " + e.latlng.toString())
                            .openOn(mymap);
                }

                mymap.on('click', onMapClick);
        </script>
    </body>