@(pubMetadata: pub_info)

<!DOCTYPE html>
<html>
<body>

<table border="1">
    <tr>
        <th>pub_info ID</th>
        <th>Title</th>
        <th>Metadata</th>
    </tr>

    <tr>
        <td>@pubMetadata.pid</td>
        <td>@pubMetadata.title</td>
        <td>@pubMetadata.mdate</td>
        <td>@pubMetadata.author</td>
        <td>@pubMetadata.author_list</td>
        <td>@pubMetadata.editors</td>
        <td>@pubMetadata.pages</td>
        <td>@pubMetadata.ee</td>
        <td>@pubMetadata.pub_url</td>
        <td>@pubMetadata.pub_year</td>
        <td>@pubMetadata.journal</td>
        <td>@pubMetadata.book_title</td>
        <td>@pubMetadata.volume</td>
        <td>@pubMetadata.pub_number</td>
        <td>@pubMetadata.publisher</td>
        <td>@pubMetadata.isbn</td>
        <td>@pubMetadata.series</td>
        <td>@pubMetadata.cross_ref</td>
    </tr>

</table>
</body>
</html>